<ul>
    {{!-- <li >{{#link-to 'login'}}Login{{/link-to}}</li>
    <li >{{#link-to 'signup'}}SignUp{{/link-to}}</li> --}}
    <li class="constant">Poll Application</li>    
</ul><br>
{{outlet}}
{{!-- <button {{action 'login'}} >Login</button>
<button {{action 'signup'}} >SignUp</button> --}}